
.container-pedido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

div.meusPedidos {
    text-align: left;
}

ul.lista-pedidos {
    list-style-type: none;
}

li.pedido {
    display: flex;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #F9F9F9;
}

.pedido img {
    max-width: 100px;
    height: auto;
    margin-right: 1rem;
}



div.container-pedido img{
    width: 30%;
}

.container-pedido-disponiveis{
    display: flex;
    gap: 1rem;
    justify-content: center;
    
}

.img-medium {
    max-width: 100%;
    height: auto;
    width: 200px;

}

div.card{
    align-items: center;
    flex-direction: row;
}


#btn-top{
    background-color: #8C76DB;
    border: none;
    outline: none;
    width: 45px;
    margin: 20px 20px;
    float: right;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
}






